body{
  font-family: font-family: 'Montserrat', sans-serif;
}
#title{
  background-color: #EFFFFD;    /* DFF6FF */  /* FEE2C5 */
}
.title-image{
  border-radius: 10%;
}
.table{
  text-align: justify;
}
.tds{
  padding-right: 20px;
  color: #D3DEDC;
}
.tds2{
  color: #E6E6E6;
  text-align:left;
}
.features-para{
  color: #E6E6E6;
  line-height: 1.8rem;
}
.about-img{
  width: 90%;
  border-radius: 100%;
}
h1{
  font-family: 'Anton', sans-serif;
  font-size: 4rem;
  line-height: 1.5;
}
/* h2{
  font-family: 'Anton', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
} */
hr{
width: 5%;
margin: auto;
padding-bottom: 25px;
padding-top: 15px;
border-top-style: dotted;
color: #EAF6F6;
border-width: 7px;
}
.container-fluid{
  padding: 3% 15%;
}

.btn:hover{
  background-color: #001D6E;
}

/* navigation bar */
.navbar{
  margin: auto;
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-family: 'Kolker Brush', cursive;
  font-size: 4.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: "Montserrat-light";
  font-size: 1.2rem;
}

/* buttons */
.mail-button{
  margin: 5% 3% 5% 0;
}

.title-image{
  width: 120%;
}

/* about */
.about{
  background-color: #6E7C7C;
  text-align: center;
}

/* features */
#features{
  padding: 7% 15%;
  text-align: center;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color: #D49B54;
  margin : 1.5rem 0;
}
.icon:hover{
  color: #22577E;
}
.features-heading{
  margin:2rem;
}

/* education */
#education{
  text-align: center;
  background-color: #EFFFFD;
  padding: 7% 15%
}
.education{
  padding-top: 3rem;
  border: 3px;
  border-color: #D49B54;
  border-style: solid;
}
.education-h2{
  padding-bottom: 3rem;
}
.edu-column{
  padding: 2% 3%;
}

/* certificates */
#certificates{
  padding: 7% 15%;
  background-color: #6E7C7C;
  text-align: center;
  color: white;
}
.testimonial-image{
  margin: 20px;
  width: 10%;
  border-radius: 100%
}
.carousel-item{
  padding: 7% 15%;
}

.certificate-img{
  width: 60%;
}
